[submodule "opennurbs"]
	path = opennurbs
	url = git@gitlab.inria.fr:dream/opennurbs.git
[submodule "SISL"]
	path = SISL
	url = git@github.com:lrineau/SISL.git
	branch = fix_on_Windows
[submodule "dtk-continuous-geometry"]
	path = dtk-continuous-geometry
	url = git@gitlab.inria.fr:dtk/dtk-continuous-geometry.git
	branch = develop
[submodule "dtk-discrete-geometry"]
	path = dtk-discrete-geometry
	url = git@gitlab.inria.fr:dtk/dtk-discrete-geometry.git
	branch = develop
[submodule "dtk-nurbs-probing"]
	path = dtk-nurbs-probing
	url = git@gitlab.inria.fr:dream/dtk-nurbs-probing.git
	branch = develop
[submodule "dtk-plugins-continuous-geometry"]
	path = dtk-plugins-continuous-geometry
	url = git@gitlab.inria.fr:dtk/dtk-plugins-continuous-geometry.git
	branch = develop
[submodule "cgal"]
	path = cgal
	url = git@github.com:lrineau/cgal.git
	branch = nurbs-viewer-mesher
[submodule "blaze"]
	path = blaze
	url = git@github.com:maxGimeno/blaze-old.git
	branch = blaze-for-nurbs
[submodule "dtk-core"]
	path = dtk-core
	url = git@gitlab.inria.fr:lrineau/dtk-core.git
	branch = develop-for-submodules
[submodule "dtk-log"]
	path = dtk-log
	url = git@gitlab.inria.fr:lrineau/dtk-log.git
	branch = develop
[submodule "dtk-containers"]
	path = dtk-containers
	url = git@gitlab.inria.fr:dtk/dtk-containers.git
	branch = develop
