dump-2d_trim_loop_of_surface-*.txt
dump-3d_trim_loop_of_surface-*.txt
dump_surface_*_trim_loop_*.polylines.txt
dump-*.spheres.txt
debug.cgal
debug.txt
*~
*.bak
/.cache
/compile_commands.json
/build/
*.binary.cgal
*.mesh
out.binary.cgal
out.mesh
out.off
triangulation.obj
