[submodule "opennurbs"]
	path = opennurbs
	url = git@gitlab.inria.fr:dream/opennurbs.git
[submodule "SISL"]
	path = SISL
	url = git@github.com:SINTEF-Geometry/SISL.git
[submodule "dtk-continuous-geometry"]
	path = dtk-continuous-geometry
	url = git@gitlab.inria.fr:dtk/dtk-continuous-geometry.git
	branch = feature/nurbsOracle_for_dtk2
[submodule "dtk-discrete-geometry"]
	path = dtk-discrete-geometry
	url = git@gitlab.inria.fr:dtk/dtk-discrete-geometry.git
	branch = develop-for-dtk2
[submodule "dtk-nurbs-probing"]
	path = dtk-nurbs-probing
	url = git@gitlab.inria.fr:dream/dtk-nurbs-probing.git
	branch = feature/subdivisionOracle_for_dtk2
[submodule "dtk-plugins-continuous-geometry"]
	path = dtk-plugins-continuous-geometry
	url = git@gitlab.inria.fr:dtk/dtk-plugins-continuous-geometry.git
	branch = feature/subdivisionOracle_for_dtk2
[submodule "nurbs-viewer-mesher"]
	path = nurbs-viewer-mesher
	url = git@github.com:maxGimeno/cgal.git
	branch = nurbs-viewer-mesher-dtk2
[submodule "mine"]
	path = blaze
	url = git@github.com:maxGimeno/blaze-old.git
	branch = blaze-for-nurbs
[submodule "dtk-core"]
	path = dtk-core
	url = git@gitlab.inria.fr:lrineau/dtk-core.git
	branch = develop-for-submodules
[submodule "dtk-log"]
	path = dtk-log
	url = git@gitlab.inria.fr:lrineau/dtk-log.git
	branch = develop
[submodule "dtk-containers"]
	path = dtk-containers
	url = git@gitlab.inria.fr:lrineau/dtk-containers.git
	branch = develop-for-submodules
